<%- include('./includes/header.ejs') %>
    <section class="addPostSection">
        <nav class="navbar-create">
            <h4>Post Detail</h4>
            <a href="/" class="back btn">Back</a>
        </nav>
        <hr>
    <section class="detail">
        <h3>Title - <%= post.title %> </h3>
        <img src="<%= post.imgUrl %>" alt="<%= post.title %>">
        <p><%= post.description %></p>
        <a href="" class="add btn">Edit Post</a>
        </section>
    </section>
<%- include('./includes/footer.ejs') %>